data/INPAINTING/inpainting_examples/
data/INPAINTING/output*/
__pycache__/
*.ckpt
logs/*
data/inpainting_dataset_surrogate/*
ldm/data/test_loader_inpaint/*

model_*.txt
.idea/*
.vscode/*
scripts/useful_commands.txt

*.pth

data/samples/output_inpainting_original_paper/*