data/INPAINTING/inpainting_examples/
data/INPAINTING/output*/
__pycache__/
*.ckpt
logs/*
data/inpainting_dataset_surrogate/*
ldm/data/test_loader_inpaint/*

model_*.txt
.idea/*
.vscode/*
scripts/useful_commands.txt
venv/*

*.pth

data/samples/output_inpainting_original_paper/*
data/samples/custom_inpainting/output/*
data/samples/readme_images/*.mp4
data/samples/readme_images/*.webm
data/open_source_samples/interiornet_sample/*
data/open_source_samples/*.csv
data/samples/interiornet_output/*
data/open_source_samples/interiornet_mask_generated/*
data/modules/lama/saicinpainting/evaluation/masks/countless/memprof/countless2d_gcim_N_1000.png
data/open_source_samples/dynafill/subset/*
data/samples/interiornet_test/*
ldm/data/test_loader_dynafill/*
data/samples/DYNAFILL/*
data/open_source_samples/dynafill/subset_modified*
data/samples/DYNAFILL*/*
data/samples/Car_custom/*
data/modules/DYNAFILL/*.png
data/samples/Car_custom2/*
scripts/outputs/*
ldm/data/test_loader_dynafill_rearrange/*